
		/** {
			font-size:.95em;
			font-family:sans-serif;
		}
		html {
			padding-right:15px;
		}
		select option{
			font-size:.95em;
		}
		.ui-button-text {
			font-size:.8em;
		}*/
		#map_canvas {
			height:800px;
		}
		/*.mapandtimediv, .form {
			width:50%;
			float:left;
		}
		
		.america .form  {
			width:40%;
			padding:0 10% 0 0;
		}
		.america .mapandtimediv {
			width:50%;
			height:100%;
		}*/
		/*.skinny .mapandtimediv, .skinny .form  {
			width:100%;
			float:none;
		}
		.skinny .mapandtimediv  {
			height:90%;
		}
		.formsection {
			margin:10px;
		}*/
		.form {
			
		}
		
		
