		/*

		*{
			font-size:.95em;
			font-family:sans-serif;
		}
		html {
			padding-right:15px;
		}
		select option{
			font-size:.95em;
		}
		.ui-button-text {
			font-size:.8em;
		}
		.mapandtimediv, .form {
			width:50%;
			float:left;
		}
		
		.america .form  {
			width:40%;
			padding:0 10% 0 0;
		}
		.america .mapandtimediv {
			width:50%;
			height:100%;
		}*/
		/*.skinny .mapandtimediv, .skinny .form  {
			width:100%;
			float:none;
		}
		.skinny .mapandtimediv  {
			height:90%;
		}
		.formsection {
			margin:10px;
		}
		.form {
			
		}*/
		
		#map_canvas {
			height:800px;
		}
		
		
		.biketrainbanner {
			height:56px;
			width: 100%;
			background-image: url(lunanaut_Bicycle_Sign_Symbol.png);
		}
		input.ui-slider-input {
        display : none !important;
    }
